{% extends 'base.html' %}
{% block title %}Login to Dashboard!{% endblock %}

{% block container %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h4>{{ message }}</h4>
        {% endfor %}
    {% endif %}
{% endwith %}

{% for field, errors in form.errors.items() %}
    <h4 class="alert alert-danger">{{ ', '.join(errors) }}</h4>
{% endfor %}

<form method="post">
    {{ form.hidden_tag() }}  <!--Cross-site request forgery attack-->
    <div class="card mx-auto w-50 p-4">
        <div class="card-title text-center">
            <h4>Login</h4>
        </div>
        <div class="card-subtitle mb-4 text-center">
            <h6>Please sign in to access your Dashboard</h6>
        </div>
        <fieldset class="form-group">
            {{ form.email }}
            {{ form.password }}
            {{ form.submit }}
        </fieldset>
        <p class="text-muted mt-3">Looking to create an organization? <a href="{{ url_for('register') }}">Click here!</a></p>
    </div>
</form>
{% endblock %}